<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd>$<%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <div class="user-reviews">
      <h3>Reviews</h3>
      <% if @product.reviews.length == 0 %>
       <td> <em> There are no reviews for this Item </em> </td>
      <% end %>

      <% @product.reviews.each do |review| %>
      <br>
      <br>
      <table>
          <p><%=review.created_at.strftime("%d %B %Y")%></p>
          <p><b>Name: </b><%= review.user.first_name %></p>
          <p><b>Comment: </b><%= review.description %></p>
          <p><b>Rating: </b><%= review.rating %>/5</p>
          <p><tr>
            <% if review.user_id == @current_user.id %>
                <%= button_to "Edit", product_review_path(@product, review), :method => :update %>
                <%= button_to "Delete", product_review_path(@product, review), :confirm => "Are you sure?", :method => :delete%>
            <% end %>
          </tr></p>
        <% end %>
      <br>
      <br>
      <h4>Write a new review:</h4>
        <%= form_for :review, url: "/products/#{@product.id}/reviews" do |r| %>
          Description: <%= r.text_area :description%>
          <!-- count down from 5 as default instead of 1! -->
          Rating: <%= r.select :rating,options_for_select([5,4,3,2,1]), {}%>
          <%= submit_tag("Add Review") %>
        <% end %>
      <br>
      <h3>
        <!-- added these for easier navigation at the end of the page.
        Add to cart and change quantity later...unimportant at this time, but I do want to add the feature -->
        <span style="float: left"> <%= link_to "⬅ Go Back to All Products", :back %></span>
        <span style="float: right"><%= link_to "Continue to Checkout", :cart %></span>
      </h3>

    </div>
  </article>

</section>
